<html>
<footer>
<center>
<p style="color: white;"><strong>All Right Reserved © 2021 , SpaceBotList® v1.0.0</strong></p>
<a class="copyrighted-badge" title="Copyrighted.com Registered &amp; Protected" target="_blank" href="https://www.copyrighted.com/website/NMhq2RscNf6uYT6o"><img alt="Copyrighted.com Registered &amp; Protected" border="0" width="125" height="25" srcset="https://static.copyrighted.com/badges/125x25/02_1_2x.png 2x" src="https://static.copyrighted.com/badges/125x25/02_1.png" /></a><script src="https://static.copyrighted.com/badges/helper.js"></script>
</center>
</footer>
</html>
