<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/831283997560274986/840699649223426148/startup3.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>SpaceBotList - New Bot</title>
</head>
<body>
<%- include("partials/header", { bot, user, path, }) %>
<br>
<br>
<center>
    <% if (alert) { %>
      <div style="background-color: rgb(151, 255, 177);  border: solid; border-color: black; width: 800px; height: 40px; border-radius: 20px; padding: 6px">
        <b style="color: rgb(70, 150, 70);"><%= alert %></b>
      </div>
    <% }else if(error){ %>
      <div style="background-color: rgb(255, 87, 87);  border: solid; border-color: black; width: 800px; height: 40px; border-radius: 20px; padding: 6px">
        <b style="color: white;"><%= error %></b>
      </div>
      <% } %>
    </center>
      <br>
<center>
    <form style="margin-top: 1em;" method="POST"> <!-- method="post" tiggers a POST request to the same url with the body of the form control inputs -->
<div class="bigbox">
    <center><h1><strong><i class="fa fa-plus"></i> Add new bot</strong></h1></center>
    <div style="margin-left: 50px;">
    <hr style="margin-right: 50px;">
   <h4 style="color: red;"><strong><code>* = required input</code></strong></h4>
    <h3>ClientID <code style="color: red;">*<code></h3> <p>Your bot client id!</p>
        <input name="clientid" class="addinput" type="text" placeholder="i.e 701814672407396363" required></input>
    <h3>Prefix <code style="color: red;">*<code></h3> <p>Select your bot prefix which comes before any command!</p>
        <input name="prefix" class="addinput" type="text" maxlength="20" placeholder="i.e t!" required></input>
    <h3>Library <code style="color: red;">*<code></h3> <p>Select what language your bot is coded with!</p>
        <select class="select" name="library" id="library" required>
        <option value="None" style="color: grey;">Select library...</option>
        <option value="discord.js">discord.js</option>
        <option value="discord.py">discord.py</option>
        <option value="discord4j">discord4j</option>
        <option value="discordgo">discordgo</option>
        <option value="restcord">restcord</option>
        <option value="disco">disco</option>
        <option value="jda">jda</option>
        <option value="javacord">javacord</option>
        <option value="eris">eris</option>
        </select>
        <h3>Tags <code style="color: red;">*<code></h3> <p>Ctrl + Click to select multiple tags!, Max tags is 4.</p>
<select name="tags" class="select tags" size="4" required multiple>
        <option value="Moderation">Moderation</option>
        <option value="Economy">Economy</option>
        <option value="Logging">Logging</option>
        <option value="Role Management">Role Management</option>
        <option value="Fun">Fun</option>
        <option value="Leveling">Leveling</option>
        <option value="Music">Music</option>
        <option value="Role Play">Role Play</option>
        <option value="Utility">Utility</option>
        <option value="Games">Games</option>
        <option value="Web Dashboard">Web Dashboard</option>
        <option value="NSFW">NSFW</option>
        <option value="Social">Social</option>
        <option value="Anime">Anime</option>
        <option value="Statictics">Statictics</option>
        <option value="Triva">Triva</option>
        <option value="Quiz">Quiz</option>
        <option value="Configuration">Configuration</option>
</select>
    <h3>Support Server Invite <code style="color: red;">*<code></h3> <p>Add your bot main server!</p>
            <input name="serverinvite" class="addinput" type="text" placeholder="i.e https://discord.gg/j2Ez4xZ" required></input>
    <h3>Website</h3><p>Add your bot website!</p>
            <input name="website" class="addinput" type="text" placeholder="i.e https://www.spacebotlist.xyz"></input>
    <h3>Donate Url</h3><p>your donate url site!</p>
            <input name="donateurl" class="addinput" type="text" placeholder="i.e https://paypal.me.guest"></input>
    <h3>Invite Url</h3><p>Add your custom invite url without admin permissions, if you leave empty we will generate one!</p>
            <input name="botinvite" class="addinput" type="text" placeholder="i.e https://discord.com/oauth2/authorize?client_id=701814672407396..."></input>
    <h3>Short Description <code style="color: red;">*</code></h3><p>Brief shot desc in less than 50 characters</p>
            <input name="shortdesc" class="addinput" maxlength="50" type="text" placeholder="i.e My bot is multi purpose , can full moderate server!" required></input>
    <h3>Long Description <code style="color: red;">*</code></h3><p>Support's MarkDown/ can't be less than 100 letter</p>
            <textarea class="input" type="text" name="longdesc" style="width: 800px; height: 250px;" placeholder="i.e My bot is multi purpose with the following features..." required></textarea>
            <br>
           <input style="width:170px" class="button" type="submit"></input>
    </form>
</div>
</div>
</center>
<br>
<%- include("partials/footer") %>
</body>
</html>
