<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/831283997560274986/840699649223426148/startup3.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>SpaceBotList - 404</title>
</head>
<body>
    <%- include("partials/header", { bot, user, path, }) %>
    <div class = "left">
      <center>
<h1 style="color: rgb(255, 255, 255); font-size: 200px;"><strong>404</strong></h1>
<p style="color: white">Page not found!</p>
      </center>
</div>

<%- include("partials/footer") %>
</body>
</html>